{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./src/components",
          "@api": "./src/api",
          "@styles": "./src/styles",
          "@constants": "./src/constants",
          "@utils": "./src/utils",
          "@public": "./public"
        }
      }
    ]
  ]
}
